.rating-box{
  font-family: Helvetica, Arial, sans-serif;
  font-size:14px;
  color:#464646;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  text-align:center;
  width:100%;
  
  &__message{
    padding: 10px 0 12px;
    font-size: 20px;
  }
  
  &__stars{
    display:inline-block;
    height: 40px;
  }
  
  &__stars:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  
  &__stars:not(:checked) > label {
    float: right;
    padding-right:7px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #cccccc;
  }
  
  >  select direct children
  tilde = matches element that are siblings of a given element - not only adiacent 
  ex h2 tilde p --> h2 has to be before p
  h2 + p --> it selects only the element immediately preceded by the former element


  &__stars:not(:checked) > label:before { 
    content: '\f005';
    font-family: FontAwesome;
  }
  
  //add style colour for checked stars
  &__stars > input:checked ~ label { 
    color: #ffc700;
  }
  
  //add style colour for not checked stars on hover
  &__stars:not(:checked) > label:hover, 
  &__stars:not(:checked) > label:hover ~ label 
  { 
    color: #ff0000;
    transform: rotate(-15deg) scale(1.1);
  }
  
  //add style colour for checked stars on hover
  &__stars > input:checked + label:hover,
  &__stars > input:checked + label:hover ~ label,
  &__stars > input:checked ~ label:hover,
  &__stars > input:checked ~ label:hover ~ label,
  &__stars > label:hover ~ input:checked ~ label 
  { 
    color: #c59b08; 
  }  
}
